.login-container {
    /* min-height: 500px; */
    /* min-width: 500px; */
    /* border: 1px solid #aec4da; */
    padding: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* background: linear-gradient(-120deg, #EBF3FA 0%,  #EBF3FA 50%, rgb(255, 255, 255) 50%,rgb(255, 255, 255) 100%); */
    border-radius: 15px;
    flex-direction: column;
    /* margin-left: -100px; */
}

.login-container>div {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container img{
    margin-bottom: -15px;
    margin-right: 5px;
    width: 25px;
}
.logo{
    margin: 0;
    margin-bottom: 70px !important;
    width: 50% !important;
}
.login-container > button{
    
    margin: 15px;
    margin-bottom: 20px;
    width: 100%;
}
.register-btn{
    color: black;
}
.css-1480iag-MuiInputBase-root-MuiInput-root:after {
    border-bottom: 2px solid #1F64CC !important;
}
.css-1x51dt5-MuiInputBase-input-MuiInput-input:after {
    border-bottom: 2px solid #1F64CC !important;
}